---
import { client } from '../lib/sanity'

const books = await client.fetch(`*[_type == "book" && status == "published"]`)
console.log(books)
---

<html>
  <body>
    <h1>Test</h1>
    <pre>{JSON.stringify(books, null, 2)}</pre>
  </body>
</html>